@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  /* tells the browser to account for any border and padding in the values specified for an element's width and height */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  /* !important is used in cases where overriding of the previous style properties is not possible in any other manner */
  background-color: #fff !important;
}

.navbar a{
  font-size: 1.3rem;
  /* transforms the first letter of each word into Uppercase */
  text-transform: capitalize;
}

/* logo image */
.logo-image{
  width: 40px;
  height: 50x;
  margin-top: -6px;
  border-radius: 50%;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: green !important;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px orange;
}

.navbar a:hover {
  color: orangered !important
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}

/* 
main landing section
*/

#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: orangered;
}

#header h2 {
  color: rgb(252, 80, 0);
  font-size: 24px;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: green;
  border: 2px solid green;
  text-transform: none;
}

#header .btn-get-started:hover {
  background: orangered;
  color: #fff;
}

.header-img {
  text-align: right;
}

/* animation for the page */
#header .animated {
  animation: right-left 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes right-left {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes right-left {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}